#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_godxoin
#build/godxoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_godxoin)

DEB_INSTALL_EXAMPLES_godxoin += debian/examples/*
DEB_INSTALL_MANPAGES_godxoin += debian/manpages/*

%:
	dh $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix godxoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f godxoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake godxoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_godxoin
	src/test_godxoin

# Ensure wrapper is set executable
binary-post-install/godxoind:
	chmod +x $(cdbs_curdestdir)usr/bin/godxoind
binary-post-install/godxoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/godxoin-qt
